@font-face {
    font-family: abc;
    src: url(fonts/magica.ttf);
}

h1{
    /* font-weight: bold; */
    font-family: abc;
}

p{
    /* font-size: 25px;
    font-weight: normal;
    font-style: italic; */

    /* font-variant: small-caps; */
    font-size: 25px;
    
     font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: italic; 


}

