/* div{
    border: 1px solid red !important;
}

div{
    border: 1px solid green;
} */

div{
    border: 1px solid green;
    width: 500px;
    background-color: gainsboro;
    margin: 100px;
    padding: 20px;
    /* box-shadow: 10px 10px 5px 4px gray inset; */
    box-shadow: 10px 10px 5px 4px gray ,-10px -10px 5px 4px honeydew;

}