p{
    height: 100px;
    width: 500px;
    border: 1px solid palegreen;
    overflow: hidden;
    overflow: visible;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow: auto;
    resize: horizontal;
    resize: vertical;
    resize: both;
    
}

#txt1{
    resize: none;
}