/* responsive web design  */
/* viewport meta in css */

img{
    width: 100%;
    height: auto;
} 

#div1{
    width: 70%;
    float: left;
    background-color: rosybrown;
}

#div2{
    width: 30%;
    float: left;
    background-color: lawngreen;
}

h1{
    font-size: 80px;
}

@media screen and (max-width: 768px){
    #div1{
        width: 50%;
    }
    #div2{
        width: 50%;
    }
}

@media screen and (min-width: 400px) and (max-width: 600px){
    #div1{
        width: 100%;
    }
    #div2{
        width: 100%;
        color: beige;
        background-color: black;
    }
}